# 03 Pandas ①

#### 주의 : 판다스의 모든 것을 다루지 않습니다. Machine Learning 또는 Deep Learning을 공부하기 위해 최소한 알아야 하는 범위만을 다룹니다.

## 0.라이브러리 불러오기 & 데이터 업로드

* 라이브러리 불러오는 방법과 별칭(alias)

In [2]:
import pandas as pd
import numpy as np

## 1.Pandas Series

(이번 과정에서는 시리즈를 다루지 않습니다. 현장에서 잘 사용되지 않기 때문입니다.)

* 판다스 시리즈, 넘파이 1차원어레이, 리스트를 비교해봅시다.

In [ ]:
# Pandas Series
stock = pd.Series([92600, 92400, 92100, 94300, 92300])
print(stock[1:])

# Numpy rank 1 array
np_stock = np.array([92600, 92400, 92100, 94300, 92300])
print(np_stock[:])

# python List
list_stock = [92600, 92400, 92100, 94300, 92300]
print(list_stock[1:] )

판다스 시리즈는 지정가능한 인덱스와 값으로 저장할수 있다.

In [ ]:
# 인덱스 이름을 변경할 수도 있음.
stock = pd.Series([92600, 92400, 92100, 94300, 92300]
         , index=['2018-02-19', '2018-02-18','2018-02-17','2018-02-16','2018-02-15'])
print(stock)
print('---------------------------')
print(stock.index)
print('---------------------------')
print(stock.values)

* 인덱스 기준으로 연산 가능

In [ ]:
# 인덱스 위치가 달라도, 인덱스 값을 기준으로 연산 수행.
score_math1 = pd.Series([90,80,85], index = ['james', 'daniel','bill'])
score_math2 = pd.Series([80,89,95], index = [ 'james','bill', 'daniel'])
print(score_math1)
print('---------------------------')
print(score_math2)
print('---------------------------')
print(score_math1 + score_math2)

* Series의 Index 이름을 변경할 수 있다

In [ ]:
stock = pd.Series([92600, 92400, 92100, 94300, 92300]
         , index=['2018-02-19', '2018-02-18','2018-02-17','2018-02-16','2018-02-15'])
print(stock)

In [ ]:
stock.plot()

## 2.Pandas Dataframe

### 2.1 CSV파일에서 데이터 불러오기

In [ ]:
# Loading CSV files
df = pd.read_csv('https://raw.githubusercontent.com/DA4BAM/dataset/master/Graduate_apply.csv')

### 2.2 데이터 미리 보기

In [ ]:
# 첫 5개 행의 데이터를 보여줍니다.
df.head()
#print(df.head())

In [ ]:
# 마지막 3개 행의 데이터를 보여줍니다.
df.tail(3)

In [ ]:
# 데이터 프레임 모양 확인 - (rows, cols) tuple
df.shape

* 칼럼정보 조회

In [ ]:
# 칼럼명 출력
print(df.columns)
print('--------------------------------------------------------')
print(list(df))

여기서  dtype='object' 은 칼럼 명에 대한 타입을 말하는 것입니다.  
object는 문자열 의미

In [ ]:
# 각 칼럼의 데이터 타입
df.dtypes

* 기초통계량 : 평균, 표준편차, quartile

In [ ]:
# 기초통계량
df.describe()

* 정렬

In [ ]:
# index로 정렬
df.sort_index(axis=0, ascending=False).head()

In [ ]:
# 특정 컬럼의 값으로 정렬
df.sort_values(by=['admit', 'gpa'], ascending=[False, True]).head()

<br>

### 실습1 : csv 파일 불러오기, 데이터 살펴보기1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# 1) pandas read_csv 함수를 이용하여 
# https://raw.githubusercontent.com/DA4BAM/dataset/master/garak_market_price.CSV 파일을 읽고, 
# g_price 변수에 담습니다. 


# 2) g_price의 shape를 확인합니다.

In [ ]:
# 3) g_price의 칼럼명과 각 칼럼의 데이터 타입을 확인합니다.

In [ ]:
# 4) g_price의 데이터의 첫 3행의 데이터와 마지막 3행의 데이터를 출력합니다.

In [ ]:
# 5) g_price의 데이터를 'Price' 칼럼을 기준으로 내림차순으로 정렬합니다.

### 2.3 원하는 데이터 조회하기

#### 칼럼 명으로 조회

In [ ]:
# 칼럼명으로 조회 1 칼럼명에 한글이나 특수문자 들어가면 문제가 될 수 있음. 비추!
df.gre.head()
# df_gre1 = df.gre.head()
# type(df_gre1)

In [ ]:
# 칼럼명으로 조회 2
df['gre'].head()

# df_gre2 = df['gre'].head()
# type(df_gre2)

In [ ]:
# 중복 제거 .unique()
df['admit'].unique()

In [ ]:
# 칼럼명으로 조회 3
df[['gre']].head()

In [ ]:
# 두 개의 칼럼 동시 조회
df[['gpa', 'gre']].head()

#### 행이름/조건, 열이름으로 조회하기 : .loc[       ]
* .loc[행이름/조건]
* .loc[행이름/조건, 열이름]

In [ ]:
df.loc[0:5]

In [ ]:
df.loc[0:5, ['gre','gpa']]
# df.loc[0:5, 'gre'] # 시리즈로 결과가 나온다.

In [ ]:
df.loc[df.gpa > 3]
# df[df.gpa > 3]

<br>

#### 행번호, 열번호로 조회하기 .iloc()

In [ ]:
# 행번호 1 조회 : 1개 행으로 조회하면 pandas series
print(df.iloc[1])

df1 = df.iloc[1]
print(type(df1))

In [ ]:
# 행번호 0~5 조회 : 범위로 조회하면 dataframe
df.iloc[0:5]

In [ ]:
# 위 결과를 .loc와 비교해 봅시다.
df.loc[0:5]

In [ ]:
# 0번째 row, 0번째 column ==> 단일 값
df.iloc[0, 0]

In [ ]:
# 0~4 rows & 0~2 columns ==> 범위로 조회하면 dataframe
df.iloc[0:4, 0:2]

<br>

#### 조건으로 조회하기

In [ ]:
# 조건을 비교한 결과(True/False) 값으로 반환됨. 
(df['gpa'] > 3.5).head()

In [ ]:
# 조건을 비교한 결과 True 인 값을 조회
df[df['gpa'] > 3.5].head()
# df.loc[df['gpa'] > 3.5].head()

In [ ]:
# (다양한 방법)아래 두 문장은 방금전 문장과 동일한 결과
df[df.gpa > 3.5].head()
#df.loc[df.gpa > 3.5].head()

In [ ]:
# 여러값을 한꺼번에 비교할 때 .isin()
df[df['rank'].isin([1, 2])].head()

In [ ]:
# 위 문장을 분리하면
df[(df['rank'] == 1) | (df['rank'] == 2)].head()

주의할점! dataframe에서 []안에 조건을 여러개 연결할때
* and = &, or = |
* 그리고 각 조건들은 ()로 묶여 있어야 한다. : (조건1) & (조건2)

In [ ]:
# and, or 조건으로 여러 조건 함께 조회하기 : and = &, or = |
df[(df['gpa'] > 3.0) & (df['rank'] == 3)].head()

문자열에 있는 특정 문자 검색하고자 할 때는...

In [ ]:
# Dataframes 생성
d = {
   'col1': ['Item0', 'Item0', 'Item1', 'Item1'],
   'col2': ['Gold', 'Bronze', 'Gold', 'Silver'],
   'col3': [1, 2, 3, 4]
}
df1 = pd.DataFrame(d)
print(df1)
# 문자열이 들어있는 row만 조회
print(df1[df1.col2.str.contains('ilver')])

### 실습2 : 원하는 데이터 조회하기

In [ ]:
# pandas read_csv 함수를 이용하여 
# https://raw.githubusercontent.com/DA4BAM/dataset/master/garak_market_price.CSV 을 읽고, 
# g_price에 담습니다. 


# data_frame의 shape를 확인합니다.


# data_frame의 칼럼명과 각 칼럼의 데이터 타입을 확인합니다.

In [ ]:
# 1) unique 함수를 가지고 'ProductName'의 칼럼에 들어있는 데이터의 종류를 확인합니다.

In [ ]:
# 2) 상품명이 고구마 데이터를 조회하시오.

In [ ]:
# 3) 고구마 10kg, grade 가 0(특)인 데이터를 조회하시오.

In [ ]:
# 4) 양파, 15kg 혹은 20kg, 등급이 0,1 인 데이터를 조회하시오

### 실습3 : 원하는 데이터 조회하기2

In [ ]:
# pandas read_csv 함수를 이용하여 
# https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic_simple.csv 을 읽고, 
# titanic 에 담습니다. 


# data_frame의 shape를 확인합니다.


# data_frame의 칼럼명과 각 칼럼의 데이터 타입을 확인합니다.

In [ ]:
# 1) unique 함수를 가지고 'Embarked'의 칼럼에 들어있는 데이터의 종류를 확인합니다.

In [ ]:
# 2) Embarked이 Southhampton 이고, 성별이 여자이고, 나이가 10살 이하인 탑승객의 데이터를 조회하시오.

In [ ]:
# 3) 운임을 제일 많이 내고 탄 사람을 조회하시오

<br>

### 2.5 Dataframe 수정하기

In [19]:
# Dataframes 생성
d = {
   'col1': ['Item0', 'Item0', 'Item1', 'Item1'],
   'col2': ['Gold', 'Bronze', 'Gold', 'Silver'],
   'col3': [1, 2, 5, 3],
   'col4': [1000, 300, 5000, 600]
}
df1 = pd.DataFrame(d)

In [20]:
df1

    col1    col2  col3  col4
0  Item0    Gold     1  1000
1  Item0  Bronze     2   300
2  Item1    Gold     5  5000
3  Item1  Silver     3   600

In [21]:
# 행 이름과 칼럼이름으로 조회 & 수정
df1.loc[df1.col2 == 'Gold', 'col2'] = 'Diamond' 
df1

    col1     col2  col3  col4
0  Item0  Diamond     1  1000
1  Item0   Bronze     2   300
2  Item1  Diamond     5  5000
3  Item1   Silver     3   600

In [22]:
# 행번호, 열번호로 조회 & 수정
df1.iloc[1, 1] = 'Bronze2' 
df1

    col1     col2  col3  col4
0  Item0  Diamond     1  1000
1  Item0  Bronze2     2   300
2  Item1  Diamond     5  5000
3  Item1   Silver     3   600

* 칼럼이름 수정하기

In [8]:
df1.columns.values

array(['col1', 'col2', 'col3'], dtype=object)

In [23]:
# 전체수정
#df1.columns = ['Item', 'Item_Name', 'Qty', 'Amt']

# 부분수정
df1.columns.values[2:] = ['Qty', 'Amt']

In [24]:
df1.head()

    col1     col2  Qty   Amt
0  Item0  Diamond    1  1000
1  Item0  Bronze2    2   300
2  Item1  Diamond    5  5000
3  Item1   Silver    3   600

In [25]:
#rename으로 수정할 수도 있습니다.
df1.rename(columns={'col1':'Item', 'col2':'Item_Name'}, inplace = True)

In [26]:
df1.head()

    Item Item_Name  Qty   Amt
0  Item0   Diamond    1  1000
1  Item0   Bronze2    2   300
2  Item1   Diamond    5  5000
3  Item1    Silver    3   600

In [27]:
# 새로운 칼럼 추가
df1['Unit_Price'] = df1['Amt'] / df1['Qty']
df1

    Item Item_Name  Qty   Amt  Unit_Price
0  Item0   Diamond    1  1000      1000.0
1  Item0   Bronze2    2   300       150.0
2  Item1   Diamond    5  5000      1000.0
3  Item1    Silver    3   600       200.0

In [28]:
# 여러 칼럼 동시 제거하기 
df1.drop(['Item_Name', 'Amt'], axis=1, inplace=True) 
df1

    Item  Qty  Unit_Price
0  Item0    1      1000.0
1  Item0    2       150.0
2  Item1    5      1000.0
3  Item1    3       200.0

### 실습4 : 데이터프레임 수정하기

In [ ]:
# 1)https://raw.githubusercontent.com/DA4BAM/dataset/master/garak_market_price.CSV 을 읽고, g_price에 담습니다. 


# 2) ProductID 칼럼을 삭제합니다.

In [ ]:
# 3) Grade 의 값을 다음과 같이 바꾸시오.
# 0 : 특
# 1 : 상
# 2 : 중
# 3 : 하

In [ ]:
# 4) 5번째 칼럼 이름을 Price에서 Price_krw 로 변경하시오.